.skil-card {
  width: 500px;
  height: 200px;
  border-radius: 20px;
  border: 2px solid rgb(96, 181, 255);
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  position: relative;
  background-color: rgb(96, 181, 255);
  color: white;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.skil-name {
  font-weight: bold;
  font-size: 25px;
  background-color: black;
  color: white;
  width: fit-content;
  padding: 10px 30px;
  border-radius: 7px;
  position: absolute;
  top: -20px;
  left: 30px;
}

.album-explanation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.skil-album {
  width: 500px;
}

.skil-album > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.skil-explanation {
  font-weight: bold;
  line-height: 1.2;
  white-space: pre-line;
}
